
@mixin padding-x($side, $number) {
  padding-#{$side}: #{ $number * $leading-desktop + 'px'};

  @include respond-to("small") {
    padding-#{$side}: #{ $number * $leading-mobile + 'px'};
  }
}

@mixin padding-equal($number) {
  padding: #{ $number * $leading-desktop + 'px'};

  @include respond-to("small") {
    padding: #{ $number * $leading-mobile + 'px'};
  }
}
@mixin font-size($number) {
  font-size: #{ $number * $base-desktop + 'px'};

  @include respond-to("medium") {
    font-size: #{ $number * $base-mobile + 'px'};
  }
}
@mixin line-height() {
  line-height: $line-height-desktop;

  @include respond-to("small") {
    line-height: $line-height-mobile;
  }
}
@mixin margin-top($number) {
  margin-top: #{ $number * $leading-desktop + 'px'};

  @include respond-to("small") {
    margin-top: #{ $number * $leading-mobile + 'px'};
  }
}
@mixin margin-bottom($number) {
  margin-bottom: #{ $number * $leading-desktop + 'px'};

  @include respond-to("small") {
    margin-bottom: #{ $number * $leading-mobile + 'px'};
  }
}

