$sidebar-width: 15rem;
$main-colour: #002b36;
$max-width: 38rem;

$base-mobile: 16;
$line-height-mobile: 1.6;
$leading-mobile: round($base-mobile * $line-height-mobile);

$base-desktop: 18;
$line-height-desktop: 1.7;
$leading-desktop: round($base-desktop * $line-height-desktop);

