@charset 'utf-8';

@import './node_modules/normalize-scss/sass/normalize';

::before,
::after {
  box-sizing: border-box;
}

@import 'variables';
@import 'responsive';
@import 'base';
@import 'layout';
@import './gutenberg-config';
@import './node_modules/gutenberg-web-type/src/style/gutenberg.scss';
@import './gutenberg';
@import 'solarized';
