---
layout: base
---

<article>
  <div class="container">
    {% for post in paginator.posts %}
    <section class="post_summary">
      <h2 class="title"><a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>
      <p>{{ post.excerpt }}</p>
      <div class="meta">
        <address>{{ post.author.name }}</address> &mdash;
        <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%b %d, %Y" }}">{{ post.date | date: "%b %d, %Y" }}</time> &mdash;
        {% include read_time_estimate.html content=post.content %}
      </div>
      <hr>
    </section>
    {% else %}
    <section class="post_summary">
    A post is being written at the moment, please come back in a few days !
    <div id="subscribe">
        <a target="_blank" href="http://eepurl.com/bt8739">Subscribe</a>
    </div>
    </section>
    {% endfor %}
    <section class='pagination'>
      {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}" class="button outline older">‹ Older</a>
      {% endif %}
      {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a href="/" class="button outline newer">Newer ›</a>
      {% else %}
      <a href="/page{{ paginator.previous_page }}" class="button outline newer">Newer ›</a>
      {% endif %}
      {% endif %}
    </section>
  </div>
</article>
