{% if site.info.sharing.twitter or site.info.sharing.facebook or site.info.sharing.gplus or site.info.sharing.hn %}
<div class="social flipboard-endArticle">
    {% if site.info.sharing.twitter %}
    <div class='twitter'>
        <a id="share-twitter" href="https://twitter.com/share"
           class="twitter-share-button"
           {% if site.info.twitter %}data-via="{{ site.info.twitter }}"{% endif %}
           {% if page.counturl %}data-counturl="{{ page.counturl }}"{% endif %}
           data-text="{% if page.sharing %}{{ page.sharing }}{% else %}{{ page.title }}{% endif %}"
           data-related="{{ site.info.twitter }}">Tweet</a>
    </div>
    {% endif %}
    {% if site.info.sharing.facebook %}
    <div class='facebook'>
        <div class="fb-like" data-width="150" data-layout="button_count"
            {% if page.counturl %}data-href="{{ page.counturl }}"{% endif %}
            data-action="like" data-show-faces="true" data-send="false"></div>
    </div>
    {% endif %}
    {% if site.info.sharing.gplus %}
    <div class='google'>
        <div class="g-plusone" 
            {% if page.counturl %}data-href="{{ page.counturl }}"{% endif %}
            data-size="medium"></div>
    </div>
    {% endif %}

    {% if site.info.sharing.hn %}
    <div class='hn'>
        <a id="share-hn" href="https://news.ycombinator.com/submit"
           class="hn-button" data-title="{% if page.sharing %}{{ page.sharing }}{% else %}{{ page.title }}{% endif %}"
           data-url="{% if page.counturl %}{{ page.counturl }}{% else %}{{ site.info.url }}{{ page.url }}{% endif %}"
           data-count="horizontal">Vote on Hacker News</a>
    </div>
    {% endif %}

    {% if page.counturl %}
    <script type="text/javascript">
    reddit_url="{{ page.counturl }}"
    </script>
    {% endif %}
    <script type="text/javascript" src="//www.redditstatic.com/button/button1.js"></script>
</div>
{% endif %}
