@import "globals.scss";

.button {
  color:#fff;
  font-weight:bold;
  font-size: 0.8em;
  padding: 0.6em 1.2em;
  display: inline-block;
  position: relative;
  border: 0;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-weight:600;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  vertical-align: bottom;
  text-rendering: optimizeLegibility;
  border-radius: 2px;
  vertical-align:middle;
  border-radius:2px;
  background: $accent;
  border:2px solid $accent;
  border-radius: 3px;
  text-transform: uppercase;
  white-space:nowrap;

  &:hover {
    background:darken($accent, 10%);
    border-color:darken($accent, 10%);
    color:#fff;
  }
    
  &:active {
    box-shadow:none;
  }

  &.outline {
    background: none;
    border-radius: 4px;
    font-size: 0.8em;
    color:darken($accent, 5%);

    &:hover {
      border:2px solid darken($accent, 5%);
      color:darken($accent, 10%);
      background:none;
    }
  }
}

#subscribe {
    width: 150px;
    height: 50px;
    border-radius: 0%;
    border: 1px solid #A8D138;
    line-height: 48px;
    margin: 20px auto;
    font-size: 22px;
    text-align: center;
}

#subscribe-header {
    border-radius: 0%;
    border: 1px solid #A8D138;
    text-align: center;
    @media (min-width: 0px) {
        font-size: 15px;
        width: 120px;
        height: 35px;
        line-height: 30px;
    }
    @media (min-width: 405px) {
        float: right;
    }
    @media (min-width: 435px) {
        width: 150px;
        height: 50px;
        font-size: 22px;
        line-height: 48px;
    }
}

#subscribe a, #subscribe-header a {
    color: #A8D138;
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    font-style: normal;
    text-transform: uppercase;
    @media (max-width: 435px) {
        font-size: 15px;
    }
}

#subscribe:hover, #subscribe-header:hover {
    background-color: #A8D138;
}

#subscribe:hover a, #subscribe-header:hover a {
    color: white;
}
