<!DOCTYPE html>
<html {% if page.itemscope %}itemscope itemtype="{{ page.itemscope }}"{% endif %}>
<head>
  <title>{% if page.title %}{{ page.title }} &mdash; {{ site.info.title }}{% else %}{{ site.info.title }} &mdash; {{ site.info.subtitle }}{% endif %}</title>
  {% include style.html %}
  {% include meta.html %}
</head>
<body>
    
  <header class="site-header">
    <nav>
      <a class="brand" href="/">
          {% image logo.png alt="Adrien Lemaire Blog logo" %}
      </a>
      <a id="home-header" href="{{ site.url }}">Blog</a>
      <a id="about-header" href="{{ site.url }}/{{ site.about }}/">About</a>
      <a id="projects-header" href="{{ site.url }}/involved-in/">Projects</a>
      <div id="subscribe-header">
          <a target="_blank" href="http://eepurl.com/bt8739">Subscribe</a>
      </div>
    </nav>
  </header>

  {{ content }}

  <footer class="site-footer">
    <div class="container">
      &copy; {{ site.time | date: "%Y" }} {{ site.info.author }}
        
      <nav>
        <a id="home-footer" href="{{ site.url }}">Blog</a> &middot;
        <a id="about-footer" href="{{ site.url }}/{{ site.about }}/">About</a>
        <a id="projects-footer" href="{{ site.url }}/involved-in/">Projects</a>
      </nav>
        
      <nav class="social">
        {% include social_links.html %}
      </nav>
      <div class="small">Based on Incorporated theme by <a id="theme-ref" rel="nofollow" href="https://sendtoinc.com">Inc</a></div>
    </div>
  </footer>
  {% include post_scripts.html %}
</body>
</html>
