---
layout:     base

itemscope:  "http://schema.org/Article"
---

{% if page.cover_image %}
<div class="article-cover flipboard-image" style="background-image:url(/images/{{ page.cover_image }})"></div>
{% endif %}
{% if page.cover_image_caption %}
<div class='cover-caption flipboard-caption'><a href='{{ site.url }}/{{ site.about }}/#pictures'>{{ page.cover_image_caption }}</a></div>
{% endif %}

<article {% if page.container_class %}class='{{ page.container_class }}'{% endif %}>

  <div class="container">
    <header>
      <div class="meta">
        By <address><a rel="author" href="https://twitter.com/{{ site.info.twitter }}" title="{{ site.info.author }}" target="_blank">{{ site.info.author }}</a></address> &mdash;
        <time class="flipboard-title" pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}" title="{{ page.date | date: "%b %d, %Y" }}">{{ page.date | date: "%b %d, %Y" }}</time> &mdash;
        {% include read_time_estimate.html content=content %}
      </div>
      <h1 class="title flipboard-title">{{ page.title }}</h1>
      {% if page.subtitle %}<h2 class="subtitle flipboard-subtitle">{{ page.subtitle }}</h2>{% endif %}
    </header>

    <section class="flipboard-startArticle">
      {{ content }}
      {% include social_sharing.html %}
    </section>

    <footer>
      <address>
        {% if site.info.avatar %}<img alt="{{ site.info.avatar_alt }}" src="/images/{{ site.info.avatar }}">{% endif %}
        <p>Written by
        <strong>
          <a id="written-by" class="fliboard-author" rel="author" href="https://twitter.com/{{ site.info.twitter }}" title="{{ site.info.author }}" target="_blank">{{ site.info.author }}</a>
        </strong><br>
          <span class="muted">{{ site.info.bio }}</span>
        </p>
      </address>
      {% if page.next.url %}
      {% assign post = page.next %}
      <section class="post_summary">
        <h3 class="title">Next up: <a id="next-post" href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h3>
        <p>{{ post.excerpt }}</p>
        <hr>
      </section>
      {% endif %} 
      {% if page.previous.url %}
      {% assign post = page.previous %}
      <section class="post_summary">
        <h3 class="title">Previous story: <a id="previous-post" href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h3>
        <p>{{ post.excerpt }}</p>
        <hr>
      </section>
      {% endif %} 
      {% if site.info.disqus.shortname %}
      <section>
        {% include disqus.html %}
      </section>
      {% endif %}
    </footer>
  </div>
</article>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title }}",
  "alternativeHeadline": "{{ page.subtitle }}",
  "image": [
    {% for image in page.post_images %}
    "{{ site.url }}/images/{{ image }}",
    {% endfor %}
    "{{ site.url }}/images/{{ page.cover_image }}"
  ],
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "description": "{{ page.description }}",
  "articleBody": "{{ content | strip_html }}"
}
</script>
